<section id="resume" class="shadow-blue white-bg padding">
    <h3 class="section-title">Education</h3>
    <div class="spacer" data-height="80"></div>

    <!-- timeline -->
    <div class="timeline">
        <div class="entry">
            <div class="title">
                <span>2018 - Present</span>
            </div>
            <div class="body">
                <h4 class="mt-0">Computer Science Engineering</h4>
                <p>Polytechnique Sousse</p>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <span>2016 - 2018</span>
            </div>
            <div class="body">
                <h4 class="mt-0">Integrated Preparatory Cycle</h4>
                <p>Polytechnique Sousse</p>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <span>2015 - 2016</span>
            </div>
            <div class="body">
                <h4 class="mt-0">BACCALAUREATE TECHNICAL SCIENCES</h4>
                <p>Technological specialty</p>
            </div>
        </div>
        <span class="timeline-line"></span>
    </div>
</section>