<section id="blog" class="shadow-blue white-bg padding">
    <h3 class="section-title">Projects</h3>
    <div class="spacer" data-height="80"></div>

    <div class="row">
        
        <div class="col-md-4"><br>
            <!-- blog item -->
            <div class="blog-item">
                <div class="thumb">
                    <a >
                        <span class="category">Desktop</span>
                    </a>
                    <a >
                        <img src="assets/images/java.jpg" height="800" width="600" alt="blog-title" />
                    </a>
                </div>
                <h4 class="mt-4 mb-0"><a >Desktop application for Managing contracts using
                    Java ,SWING , MYSQL</a></h4>
              
            </div>
        </div>
        <div class="col-md-4"><br>
            <!-- blog item -->
            <div class="blog-item">
                <div class="thumb">
                    <a href="http://sngqualitypainting.com" target="linked">
                        <span class="category">WEB</span>
                    </a>
                    <a href="http://sngqualitypainting.com" target="linked">
                        <img src="assets/images/sng.png" height="800" width="600" alt="blog-title" />
                    </a>
                </div>
                <h4 class="mt-4 mb-0"><a href="http://sngqualitypainting.com" target="linked">Freelance for an American company (S&G Quality Painting)
                    PHP , bootstrap , Mysql</a></h4>
              
            </div>
        </div>
        <div class="col-md-4"><br>
            <!-- blog item -->
            <div class="blog-item">
                <div class="thumb">
                    <a >
                        <span class="category">WEB</span>
                    </a>
                    <a >
                        <img src="assets/images/cov1.png" height="800" width="600" alt="blog-title" />
                    </a>
                </div>
                <h4 class="mt-4 mb-0"><a >Carpooling Website 
                    PHP , bootstrap , Mysql</a></h4>
              
            </div>
        </div>

        <div class="col-md-4"><br>
            <!-- blog item -->
            <div class="blog-item">
                <div class="thumb">
                    <a >
                        <span class="category">WEB</span>
                    </a>
                    <a >
                        <img src="assets/images/spting-boot.png" height="800" width="600" alt="blog-title" />
                    </a>
                </div>
                <h4 class="mt-4 mb-0"><a > Web Application , Match workers with clients using spring boot
                    , JPA , thymeleaf , lombok</a></h4>
              
            </div>
        </div>
        <div class="col-md-4"><br>
            <!-- blog item -->
            <div class="blog-item">
                <div class="thumb">
                    <a >
                        <span class="category">WEB</span>
                    </a>
                    <a >
                        <img src="assets/images/e-commerce.png" height="800" width="600" alt="blog-title" />
                    </a>
                </div>
                <h4 class="mt-4 mb-0"><a > E-Commerce Website Using NodeJs , React , MongoDB , Redux</a></h4>
              
            </div>
        </div>
        <div class="col-md-4"><br>
            <!-- blog item -->
            <div class="blog-item">
                <div class="thumb">
                    <a >
                        <span class="category">Desktop</span>
                    </a>
                    <a >
                        <img src="assets/images/java.jpg" height="800" width="600" alt="blog-title" />
                    </a>
                </div>
                <h4 class="mt-4 mb-0"><a >Desktop application- pharmacy management using JAVA ,
                    SWING , MYSQL</a></h4>
              
            </div>
        </div>
        <div class="col-md-4"><br>
            <!-- blog item -->
            <div class="blog-item">
                <div class="thumb">
                    <a >
                        <span class="category">Desktop</span>
                    </a>
                    <a >
                        <img src="assets/images/C.jpg" height="800" width="600" alt="blog-title" />
                    </a>
                </div>
                <h4 class="mt-4 mb-0"><a >Desktop application- Phonebook using C</a></h4>
              
            </div>
        </div>

        

    </div>

</section>