<section id="about" class="shadow-blue white-bg padding">
    <h3 class="section-title">About Me</h3>
    <div class="spacer" data-height="80"></div>

    <div class="row">
        <div class="col-md-3">
            <img src="assets/images/0.jpg" height="100" width="100" alt="Safouane" />
        </div>
        <div class="col-md-9">
            <h2 class="mt-4 mt-md-0 mb-4">Hello,</h2>
            <p class="mb-0">
                I am Safouane Jelassi, engineering student at Polytechnique of Sousse from Sousse, Tunisia.
                In addition to my training, I have always appreciated the WEB technology and I have been interested in several frameworks including Spring, Hibernate, Angular , ..
            </p>
            <div class="row my-4">
                <div class="col-md-6">
                    <p class="mb-2">Name: <span class="text-dark">Safouane Jelassi</span></p>
                    <p class="mb-2">Birthday: <span class="text-dark">26 January, 1998</span></p>
                    <p class="mb-0">Phone: <span class="text-dark">+216 23 012 684</span></p>
                </div>
                <div class="col-md-6 mt-2 mt-md-0 mt-sm-2">
                    <p class="mb-2">Location: <span class="text-dark">Sousse, Tunisia</span></p>
                    <p class="mb-0">Email: <span class="text-dark">safouane.jelassi@polytechnicien.tn</span></p>
                </div>
                
            </div>
            <a href="https://drive.google.com/file/d/1I-VtXSU393XEU_JQ60sz2cJKVksF6ec2/view" target="linked" class="btn btn-default mr-3"><i class="fa fa-eye"></i>View CV</a>
            <!--<a href="#" class="btn btn-alt mt-2 mt-md-0 mt-xs-2"><i class="icon-envelope"></i>Hire me</a>-->
        </div>
    </div>
</section>