<header class="left float-left shadow-dark" id="header">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="header-inner d-flex align-items-start flex-column">
        <a href="index.html"><img src="assets/images/0.jpg" height="70" width="70" alt="Safouane Jelassi" /></a>
        <a href="index.html" class="site-title dot mt-3">Safouane Jelassi</a>
        <span class="site-slogan">Web Developer</span>
        
        <!-- navigation menu -->
        <nav>
            <ul class="vertical-menu scrollspy">
                <li><a routerLink="home" class="active"><i class="fa fa-home"></i>Home</a></li>
                <li><a routerLink="about"><i class="fa fa-male"></i>About</a></li>
                <li><a routerLink="skills"><i class="fa fa-bolt"></i>Skills</a></li>
                <li><a routerLink="education"><i class="fa fa-university"></i>Education</a></li>
                <li><a routerLink="experience"><i class="fa fa-building"></i>Professional Experience</a></li>
                <li><a routerLink="projects"><i class="fa fa-code"></i>Projects</a></li>
                <li><a routerLink="volunteering"><i class="fa fa-child"></i>Volunteering</a></li>
                
                <!--<li><a href="#contact"><i class="icon-phone"></i>Contact</a></li>-->
            </ul>
        </nav>
        
        <!-- footer -->
        <div class="footer mt-auto">

            <!-- social icons -->
            <ul class="social-icons list-inline">
                <li class="list-inline-item"><a href="https://www.facebook.com/Safwene12/" target="linked"><i class="fab fa-facebook-f"></i></a></li>
                
                <li class="list-inline-item"><a href="www.instagram.com/safwenejelassi/" target="linked"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/safwene-jelassi-020ba7171/" target="linked"><i class="fab fa-linkedin-in"></i></a></li>
               
            </ul>

            <!-- copyright -->
           
        </div>
    </div>
</header>