<section id="resume" class="shadow-blue white-bg padding">
    <h3 class="section-title">Professional Experience</h3>
    <div class="spacer" data-height="80"></div>

    <!-- timeline -->
    <div class="timeline">
        <div class="entry">
            <div class="title">
                <span>July 2020 - Oct 2020</span>
            </div>
            <div class="body">
                <h4 class="mt-0">GPRO Consulting - Summer Internship</h4>
                <p>Create the backend and front-end part of a data visualization module in a CMMS using Spring Boot –
                    Angular – JPA – amChart - postegresql</p>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <span>August 2019 - Sep 2019</span>
            </div>
            <div class="body">
                <h4 class="mt-0">Billcom Consulting - Summer Internship</h4>
                <p>creating a web application for managing
                    mobile contracts using Spring MVC - JSP - JPA -Hibernate - Mysql</p>
            </div>
        </div>
      
        <span class="timeline-line"></span>
    </div>
</section>