<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Safouane - Personal Portfolio</title>
	<meta name="description" content="Bako - Personal Portfolio & Resume HTML Template">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="https://via.placeholder.com/32x32">





</head>

  <body>
    <div class="site-wrapper">
      <app-nav></app-nav>

      <main class="content float-right">
        <router-outlet></router-outlet>
      </main>
    </div>
  </body>
</html>