<section id="blog" class="shadow-blue white-bg padding">
    <h3 class="section-title">Volunteering</h3>
    <div class="spacer" data-height="80"></div>

    <div class="row">
        
        <div class="col-md-6"><br>
            <!-- blog item -->
            <div class="blog-item">
                <div class="thumb">
                   
                    <a href ="https://drive.google.com/file/d/1pg-30micCYdRx4Gmes1fWWTtJDLeBZF7/view?usp=sharing" target="linked">
                        <img src="assets/images/aiesec.jpg" height="800" width="600" alt="blog-title" />
                    </a>
                </div>
                <h4 class="mt-4 mb-0"><a href ="https://drive.google.com/file/d/1pg-30micCYdRx4Gmes1fWWTtJDLeBZF7/view?usp=sharing" target="linked">AIESEC Experience</a></h4>
                <p>Being part of AIESEC exchange has been an amazing experience. I got the opportunity to meet a lot of people from different countries, different backgrounds, 
                    but with the same vision for the future: a future of peace and fulfilment of humankind’s potential. 
                    In this opportunity I had the chance to teach IT courses for 2 months in Morroco.
                    </p>
                    <ul class="list-inline meta mb-0 mt-3">
                        <li class="list-inline-item">Jun 2019 - Aug 2019</li>
                     
                    </ul>
              
            </div>
        </div>

        <div class="col-md-6"><br>
            <!-- blog item -->
            <div class="blog-item">
                <div class="thumb">
                   
                    <a href ="https://www.youtube.com/watch?v=5vVxxOekQkU" target="linked">
                        <img src="assets/images/dourha.png" height="800" width="600" alt="blog-title" />
                    </a>
                </div>
                <h4 class="mt-4 mb-0"><a href ="https://www.youtube.com/watch?v=5vVxxOekQkU" target="linked">'DOURHA M3AYA' TAKE A RIDE WITH US</a></h4>
                <p>It's about a 720km tour around the Tunisian Northwest with a low budget for 7 days into the wild in order to get out of passivity by promoting new activities such as camping, promoting domestic tourism, moral support for social cases, giving hope to young people and changing their negative perception of their country.</p>
                <ul class="list-inline meta mb-0 mt-3">
                    <li class="list-inline-item">Nov 2018 - Apr 2019</li>
                 
                </ul>
            </div>
        </div>
    
    
     

        

    </div>

</section>