<section class="hero background parallax shadow-dark d-flex align-items-center" id="home" data-image-src="https://via.placeholder.com/900x600">
    <div class="cta mx-auto mt-2">
        <h1 class="mt-0 mb-4">I’m Safouane Jelassi<span class="dot"></span></h1>
        <p class="mb-4">
            Sociable and attentive, I know how to adapt to an existing solution and I could thus integrate myself  into a team without the slightest problem.
        </p>
        
    </div>
    <div class="overlay"></div>
</section>